{% extends "example/common/mainTemplate.html.twig" %}

{% block content %}
    {{ parent() }}
    {% if products is empty %}
        <h2>No products existing</h2>
    {% endif %}
    {% if products is not empty %}
    <div class='col-xs-6'>
        <h2> Products list</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Label</th>
                    <th>Created date</th>
                    <th>Tarifs count</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                {# Complete data array display #}
                {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.label }}</td>
                        <td>{{ product.createDate|date('d/m/Y H:m:s') }}</td>
                        <td>{{ product.tarifs|length }}</td>
                        <td>
                            <a href='{{ path('app_example_tarif_list', {'product': product.id}) }}'>
                                Tarifs
                            </a>
                            <br>
                            <a href='{{ path('app_example_product_delete', {'product': product.id}) }}'>
                                Delete
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    <div class='col-xs-12'>
        <a href='{{ path('app_example_product_new') }}'>
            Create new product
        </a>
    </div>
{% endblock %}
