{% extends "example/common/mainTemplate.html.twig" %}

{% block content %}
    {{ parent() }}
    <h1>Create new product</h1>
    {{ form_start(productForm) }}
    {{ form_widget(productForm) }}
    {{ form_end(productForm) }}

    <a href='{{ path('app_example_product_index') }}'>
        Return to products list
    </a>
{% endblock %}
