{% for message in app.flashes('notice') %}
    <div class="alert alert-success" role="alert">
      {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('error') %}
    <div class="alert alert-success" role="alert">
      {{ message }}
    </div>
{% endfor %}
