<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    {# Main/global stylesheet #}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/appCss.css') }}">
    {% endblock %}

    {# Main/global javascripts #}
    {% block javascripts %}
        <script src="{{ asset('build/appJs.js') }}"></script>
    {% endblock %}
</head>

<body>
    <header>
    {% block header %}
        {% include('example/common/flashMessage.html.twig') %}
    {% endblock %}
    </header>

    {% block content %}

    {% endblock %}
</body>
</html>
