{% extends "example/common/mainTemplate.html.twig" %}

{% block content %}
    {{ parent() }}
    {% if product.tarifs is empty %}
        <h2>No tarifs existing for product {{ product.label }}</h2>
    {% endif %}

    {% if product.tarifs is not empty %}
        <h2> Tarifs for product {{ product.label }}</h2>
        <div class='col-xs-6'>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Label</th>
                        <th>Reference</th>
                        <th>Sell price</th>
                        <th>Buy price</th>
                        <th>Expired date</th>
                    </tr>
                </thead>
                <tbody>
                    {# Complete data array display #}
                    {% for tarif in product.tarifs %}
                        <tr>
                            <td>{{ tarif.id }}</td>
                            <td>{{ tarif.label }}</td>
                            <td>{{ tarif.reference }}</td>
                            <td>{{ tarif.sellPrice }}</td>
                            <td>{{ tarif.buyPrice }}</td>
                            <td>
                                {% if tarif.expiredDate is not null %}
                                    {{ tarif.expiredDate|date('d/m/Y H:m:s') }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    <div class='col-xs-12'>
        <a href='{{ path('app_example_tarif_new', {'product': product.id}) }}'>
            Create new tarif
        </a>
        <br>
        <a href='{{ path('app_example_product_index', {'product': product.id}) }}'>
            Product list
        </a>
    </div>
{% endblock %}
