{% extends "example/common/mainTemplate.html.twig" %}

{% block content %}
    {{ parent() }}
    <h1>Create new tarif</h1>
    {{ form_start(tarifForm) }}
    {{ form_widget(tarifForm) }}
    {{ form_end(tarifForm) }}

    <a href='{{ path('app_example_tarif_list', {'product': product.id}) }}'>
        Return to tarifs list
    </a>
{% endblock %}
